@media screen and (max-width: 600px) {
    .banner {
        height: 10%;
        font-size: 1em;
    }
    nav {
        flex-direction: column;
        align-items: center;
    }
    nav .logo {
        margin: 10px 0;
    }
    nav .logo img {
        width: 50px;
        height: 50px;
    }
    nav ul.menu {
        flex-direction: column;
        align-items: center;
    }
    nav ul.menu li {
        margin: 10px 0;
    }
    footer {
        flex-direction: column;
        align-items: center;
    }
    .contacts {
        width: 100%;
    }
    .categories {
        width: 100%;
    }
    .quick_links {
        width: 100%;
    }
    .quick_links ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .quick_links li {
        width: 45%;
    }
    .map {
        width: 100%;
    }
}

@media screen and (min-width: 768px){
    .banner {
        height: 10%;
        font-size: 1.5em;
    }
    nav {
        flex-direction: row;
        align-items: center;
    }
    nav .logo {
        margin: 10px 0;
    }
    nav .logo img {
        width: 50px;
        height: 50px;
    }
    nav ul.menu {
        flex-direction: row;
        align-items: center;
    }
    nav ul.menu li {
        margin: 10px 0;
    }
    .footer {
        flex-direction: row;
        align-items: center;
    }
    .contacts {
        width: 25%;
    }
    .categories {
        width: 25%;
    }
    .quick_links {
        width: 25%;
    }
    .quick_links ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .quick_links li {
        width: 45%;
    }
    .map {
        width: 25%;
    }
}

body{
    background-color: #1e1e1e;
    color: aliceblue;
    font-family: "Courier New", monospace;
    font-size: 16px;
}

.banner {
    background-image: url(3.jpg);
    background-size: cover;
    height: 250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    font-size: 30px;
    font-family: "Courier New", monospace;
}

nav {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

nav .logo {
    margin-left: 10px;
}

nav .logo img {
    width: 80px;
    height: 80px;
}

nav ul.menu {
    background-color: #252526;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul.menu li {
    margin: 0 55px;
}

nav ul.menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px;
}

nav ul.menu a:hover,
nav ul.menu a.active {
    background-color: white;
    color: #333;
    border-radius: 15%;
    transition: ease-in 0.3s;
}

.main_content {
    padding: 20px;
}

.main_content h1#main-heading {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

.main_content hr {
    border: 1px solid #333;
    margin: 20px 0;
}

.main_content article h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.main_content article p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.main_content article ul {
    list-style: inside;
    margin-left: 20px;
}

.topic{
    background-color: #1793c8;
    padding: 15px;
    color: white;
}

#task img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
    margin-bottom: 20px;
}

#task h2{
    text-align: center;
}

#requirements h2{
    text-align: center;
    color: white;
}

#submission h2,
#grading h2,
aside h3{
    text-align: center;
    margin-top: 20px;
}

#submission {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px #ccc;
}

#submission img {
    display: block;
    margin: 20px auto;
    width: 210px;
    height: 300px; 
}

#submission img:hover {
    transform: scale(1.1);
    transition: ease-in 0.3s;
}

#submission ul {
    list-style: none;
    margin: 20px 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
}

#grading table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
}
    
#grading th, td {
    border: 1px solid #1793c8;
    padding: 8px;
    text-align: left;
}
    
#grading th {
    background-color: #1793c8;
}

a {
    color: #1793c8;
}

.aside_content #deadline{
    text-align: center;
    font-style: italic;
}

.aside_content #deadline a{
    color: #1793c8;
}

#deadline h4 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}
  
#deadline ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #252526;
    margin-top: 50px;
    flex-wrap: wrap;
}
 
.contacts{
    width: 35%;
}

.contacts p, .categories h5, .quick_links h5 {
    margin: 0;
}
  
.contacts p {
    font-size: 0.875rem;
    line-height: 1.5;
}
  
.contacts .email {
    color: #1793c8;
}
  
[class="map"] {
    width: 100%;
    height: 200px;
    margin: 1rem 0;
}

.categories{
    width: 35%;
}

.categories h5{
    margin-left: 40px;
}

.categories ul {
    list-style: none;
}
  
.categories li {
    margin-right: 1rem;
}
  
.categories a, .quick_links a {
    color: #fff;
}

.quick_links{
    width: 30%;
    margin-right: auto;
}

.quick_links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}